body {
    /* font-family: "Helvetica Neue"; */
    font-family: Merriweather; 
    font-size: 18px;
    /* line-height: 50px; */
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ddd;
    background: #636e72;
}

i {
    font-family: "Helvetica Neue";
    font-size: 22px;
}

.main {
    padding: 0 15%;
}

img {
	font-size: 10px;
}

#play2 {
    /* border: solid;
    border-color: #55efc4; */
    color: #55efc4;
    text-decoration: underline;
}

#play2:hover {
    cursor: pointer;
}

@media only screen and (max-width: 678px) {
    .main {
        padding: 0 10%;
    }
}